p.
	This handler provides CS:GO profile stats.
	#[br]

.note.note-danger
	| Mikuia syncs profile info every 10 minutes. To get yourself included in the scan you have to meet following requirements:
	br
	br
	ul
		li
			a(href='/dashboard/settings#steam', target='_blank') You need to have your Steam account linked.
		li
			a(href='http://steamcommunity.com/id/mikuia', target='_blank') You need to add Mikuia on Steam.
		li You have to be live on Twitch.
		li Your stream game has to be set as CS:GO.
		li You need to have CS:GO running.
h3 Examples:
br
pre
	b User:
	|  !csgo
	br
	b #{Mikuia.settings.bot.name}:
	|  Gold Nova II (14 wins)