p.
	This handler provides CS:GO profile stats.
	#[br]

.note.note-danger.
	#[a(href='http://steamcommunity.com/id/mikuia') You have to add Mikuia on Steam to sync your stats.]
h3 Examples:
br
pre
	b User:
	|  !csgo
	br
	b #{Mikuia.settings.bot.name}:
	|  Gold Nova II (14 wins)