extends ../layout

block content
	.splash.bg-material-red
		.container
			.row
				.col-md-12.animation-fade-in-right
					h1 Mikuia Levels Guide
	.container
		.row
			.col-md-12.animation-fade-in-down
				p.
					This guide will explain how to get levels on your channel. 

		.row.animation-fade-in-left
			.col-md-12
				.page-header
					h1
						| Step 1
						small  Enable the bot.

		.row.animation-fade-in-right
			.col-md-6
				p.
					Enable Mikuia by following the #[a(href='/guides/quickstart') Quick Start Guide] up to Step 3.

			.col-md-6
				img.image-border(src='http://h.hatsu.tv/kJchU1.png')

		animation-fade-in-up
			br
			h1 That's it. You're done. Enjoy.