extends ../layout

block content
	.splash.bg-material-osu-pink
		.container
			.row
				.col-md-12.animation-fade-in-right
					h1 osu! Song Request Guide
	.container
		.row
			.col-md-12.animation-fade-in-down
				.alert.alert-warning
					strong Warning.
					|  This guide pretends you got at least to Step 3 in the 
					a(href='/guides/quickstart') Quick Start Guide
					| . If you didn't, please check it out, or at least figure out how to enable the bot.
				p.
					This guide will explain how to get osu! song requests working on your channel.

		.row.animation-fade-in-left
			.col-md-12
				.page-header
					h1
						| Step 1
						small  Enable the osu! plugin.

		.row.animation-fade-in-right
			.col-md-6
				p.
					First thing you'll have to do is enabling the osu! plugin #[a(href='/dashboard/plugins') here].
					#[br]

			.col-md-6
				img.image-border(src='http://h.hatsu.tv/8xRVPM.png')


		.row.animation-fade-in-left
			.col-md-12
				.page-header
					h1
						| Step 2
						small  Authenticate your osu! account.

		.row.animation-fade-in-right
			.col-md-6
				p.
					Go to osu! plugin settings #[a(href='/dashboard/settings#osu') here].
					#[br]
					Find the username field and click the #[a(href='/dashboard/plugins/osu/auth') link] below it.
					#[br]
					Now, open osu! and write "!verify" to MikuiaBot.
					#[br]
					Easiest way to do that is by using "/msg MikuiaBot" to open a conversation, and then using !verify.
					#[br]
					Put the code on the website you opened earlier, and click Save.
					#[br]
					You should be redirected back to the settings page, and your username field should be filled out.

			.col-md-6
				img.image-border(src='http://h.hatsu.tv/Qiv0rU.png')

		.row.animation-fade-in-left
			.col-md-12
				.page-header
					h1
						| Step 3
						small  Configure the plugin.

		.row.animation-fade-in-right
			.col-md-6
				p.
					Global requests are enabled by default, so if you don't want to change anything more, you should be good to go.
					#[br]
					You can also enable or disable the request information on chat, limit requests to subs, set request limits, and more.
					#[br]
					#[b Before you start testing, ] remember to disable the "Ignore Myself" option, or use a different Twitch account.


			.col-md-6
				img.image-border(src='http://h.hatsu.tv/lpry0T.png')

		.animation-fade-in-up
			br
			h1 Wasn't so hard, was it?