doctype html
html
	head
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
		link(href='/assets_4.1.0/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/assets_4.1.0/global/css/components.css', rel='stylesheet', type='text/css')
		link(href='/assets_4.1.0/admin/pages/css/error.css', rel='stylesheet', type='text/css')

	body.page-404-3
		.page-inner
			img.img-responsive(src='/img/404.png')
		.container.error-404
			h1 404
			h2 You broke something.
			p.
				We don't yet know what it is, but you broke it.
				#[br]
				Please leave while we try to fix what you broke.
				#[br]
				Don't break anything else.
			p
				a(href='/') Go away and don't come back.