extends layout

block content
	.container
		.row
			.col-md-6.animation-fade-in-right
				.page-header
					h1 Who made this thing?

				.media
					.pull-left
						a(href='/lauriys')
							img.image-border.media-object(src='/img/avatars/lauriys.jpg', width='100', height='100')
					.media-body
						h2.media-heading
							a(href='/lauriys') lauriys
						p.
							Bad coder, bad gamer and lazy piece of shit.
							#[br]
							Made this whole thing though pretty much alone.
							#[br]
							Yep.

				.media
					.pull-left
						a(href='/vendethiel')
							img.image-border.media-object(src='/img/avatars/vendethiel.jpg', width='80', height='80')
					.media-body
						h2.media-heading
							a(href='/vendethiel') Vendethiel
						p.
							Touched few things, broke few things, but helped with few things.
							#[br]
							Refuses to take credit for anything.

				.media
					.pull-left
						a(href='/xikeon')
							img.image-border.media-object(src='/img/avatars/xikeon.jpg', width='50', height='50')
					.media-body
						h4.media-heading
							a(href='/xikeon')
								| Xikeon
							small.text-muted  (Michael Owens)
						p.
							Barely did anything, but still worth mentioning for no reason.

				.media
					.pull-left
						a(href='/nikersify')
							img.image-border.media-object(src='/img/avatars/nikersify.jpg', width='50', height='50')
					.media-body
						h4.media-heading
							a(href='/nikersify')
								| Nikersify
							small.text-muted  (Maciej Łaszcz)
						p.
							Touched literally 3 lines of code. Contributor.

			.col-md-6.animation-fade-in-left

				.page-header
					h1 Notable Mentions

				.media
					.pull-left
						a(href='/arkpit')
							img.image-border.media-object(src='/img/avatars/arkpit.jpg', width='64', height='64')
					.media-body
						h4.media-heading
							a(href='/arkpit') Arkpit
						p.
							One of the earliest adopters, supported the project with both feedback and money. ^^

				.media
					.pull-left
						a(href='/ayu')
							img.image-border.media-object(src='/img/avatars/ayu.jpg', width='64', height='64')
					.media-body
						h4.media-heading
							a(href='/ayu')
								| Ayu
							small.text-muted  (previously iKayla)
						p.
							Huge help both in the early stages of development and nowadays.
							#[br]
							Testing, reporting bugs, suggesting features and being overly supportive!

				.media
					.pull-left
						a(href='/faiin')
							img.image-border.media-object(src='/img/avatars/faiin.jpg', width='64', height='64')
					.media-body
						h4.media-heading
							a(href='/faiin') Faiin
						p.
							Massive financial support and feedback!
							#[br]
							Cool guy.

				.media
					.pull-left
						a(href='/lauriys')
							img.image-border.media-object(src='/img/avatars/lauriys.jpg', width='64', height='64')
					.media-body
						h4.media-heading
							a(href='/lauriys') lauriys
						p.
							Yes, I'm putting myself in the notable mentions because I can.
							#[br]
							Come at me.

				.media
					.pull-left
						a(href='http://twitch.tv/ppy')
							img.image-border.media-object(src='/img/avatars/ppy.png', width='64', height='64')
					.media-body
						h4.media-heading
							a(href='http://twitch.tv/ppy') ppy
						p.
							Most dev and user friendly game developer I ever met!
							#[br]
							#[small.text-muted I met one.]

				.media
					.pull-left
						a(href='/sukkiq')
							img.image-border.media-object(src='/img/avatars/sukkiq.jpg', width='64', height='64')
					.media-body
						h4.media-heading
							a(href='/sukkiq') SukkiQ
						p.
							First Mikuia user ever, and first Twitch streamer I've watched.
							#[br]
							Mikuia was basically made for him back in 2013 :P

				.media
					.pull-left
						a(href='/talbadar')
							img.image-border.media-object(src='/img/avatars/talbadar.jpg', width='64', height='64')
					.media-body
						h4.media-heading
							a(href='/talbadar') Talbadar
						p.
							Also one of the first users, made sure to spread the word a little.
							#[br]
							Also invited me to a Twitch team, The Anime Club :D

				.media
					.pull-left
						a(href='/wkevs')
							img.image-border.media-object(src='/img/avatars/wkevs.jpg', width='64', height='64')
					.media-body
						h4.media-heading
							a(href='/wkevs')
								| wKevs
							small.text-muted  (previously WG_K3F1n)
						p.
							Second Mikuia user ever. Inspiration, ideas, feedback, motivation and amazing friend!
		
		.row
			.col-md-12.animation-fade-in-right
				.page-header
					h1 How did this happen?
				h3
					a(href='http://blog.mikuia.tv/how-did-this-happen/') Read about that on Mikuia's Blog.
				br
