extends layout

block content
	.container
		.row
			.col-md-12.animation-fade-in-down
				h1 Woops. Something is broken.
				h3
					|If the error starts with "TokenError", try refreshing/logging in again!
					br
					| For any other errors, please tweet it at @MikuiaBot, or tell lauriys on Discord.
				br
				if error && error.stack
					.alert.alert-danger=error.stack
				else
					.alert.alert-danger=error
				- console.log(error)
