extends layout

block settings
	- var extendedHeader = true
	- var extendedHeaderColor = '#111'
	- var extendedHeaderHeight = 600

block content
	.container.text-white
		.mikuia-index
			.row
				.col-md-5.align-center.mikuia-index-screenshot
				.col-md-5.col-md-offset-1
					h1
						| Mikuia 
						small is a Twitch bot.
					p.text-muted.
						Mikuia helps your viewers interact with games you're playing.
						#[br]
						Looking up stats, sharing accomplishments and useful information, providing level and coin systems!

					br
					a.btn.btn-info(href='/guides/quickstart') Check the guide!
					br
					br
					a.btn.btn-danger(href='https://patreon.com/hatsuney') Support on Patreon!
	

	if featured
		- featured.profile_banner = null
		.mikuia-index-featured(style=(featured.profile_banner != null && featured.profile_banner != 'null' ? 'background: linear-gradient(rgba(17, 17, 17, 1), rgba(0, 0, 0, 0.6)), url(\'' + featured.profile_banner + '\'); background-position: center; background-repeat: no-repeat; background-size: cover;' : 'background: linear-gradient(rgba(0, 0, 0, 1), rgba(17, 17, 17, 1))'))
			.mikuia-index-featured-background
				.container.text-white.animation-fade-in-down
					.row
						.col-xs-4
							iframe(src='http://player.twitch.tv/?channel=' + featured.name, frameborder=0, scrolling='no', autoplay='false', height='225', width='369')
				
						.col-xs-8
							br
							h4.text-muted Check out an example channel!
							h1
								| #{featured.display_name}
								small  playing #{featured.game}
							p #{featured.status}
							br
							a.btn.btn-twitch.btn-xs(href='http://twitch.tv/' + featured.name)
								i.fa.fa-twitch
								|  Watch on Twitch.tv
	.well
		.container
			.row
				.col-md-12.animation-fade-in-right
					h1
						| Other Streams 
						small
							a(href='/streams') see all
			.row
				- var i = 0
				each miniData in sorting
					if i < 12
						+stream(streams[miniData[0]], displayHtml, miniData[1])
						- i++
				//- .col-md-2.animation-fade-in-left
				//- 	h1 Twitter
				//- 	a.twitter-timeline(href='https://twitter.com/MikuiaBot', data-widget-id='540548781029462017') Tweets by @MikuiaBot
				//- 	script(type='text/javascript').
				//- 		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
