extends layout

block content
	.container
		.row
			.col-md-9.animation-fade-in-right
				h1 Well, hello there!
				h4
					| If you're here, it means you have interest in supporting the project!
					br
					| As you may know or not, things in this world cost money. Lots of money.
					br
					| Servers, services, even time is money.
					br
					| Let's make a deal. You help us out with few dollars, and we'll give you some additional features!
					br
					| Mikuia will always be free to use, and all the main features will never get hidden behind a paywall.
					br
					| This is how you can help holding that promise unchanged!

				h1.text-success
					i.fa.fa-star-o
					|  Features

				br
				.col-md-6
					h3.text-warning
						i.fa.fa-star-o
						|  Featured Channel
					p.text-muted
						| Your channel will be more likely to get featured on Mikuia.tv frontpage!
						br
						| In case you're the only Supporter live, you'll be featured always, and if there are multiple, the featured channel will be chosen at random.

					br
					h3.text-muted
						i.fa.fa-users
						|  Offline Joining
					p.text-muted
						| Normally, Mikuia checks for new streams going live every few minutes, and joins those chats soon after.
						br
						| This perk makes her join the channel always, not only when you're live, so your viewers can use commands even when you're offline.

					br
					h3.text-danger
						i.fa.fa-heart
						|  Heart Icon
					p.text-muted
						| Featured Channel, profile pages, level lists, level-up notifications - the heart icon will make everyone aware that you support the project! 

				.col-md-6
					h3.text-success
						i.fa.fa-comments
						|  Separate Chat Connection
					p.text-muted
						| Your channel will get a separate chat connection, allowing the bot to spam 20 messages per 30 seconds!

					br
					h3(style='color: #FC74B0;')
						i.fa.fa-thumbs-down
						|  (osu!) In-Game Twitch Chat Moderation
					p.text-muted
						| Use Twitch chat moderation commands straight from the game chat, in the same box you get requests from!
						br
						| Examples: !ban, !slow, !subscribers, !timeout, !unban (!host / !unhost require you to set Mikuia as an editor of your channel)

			.col-md-3.animation-fade-in-left
				.text-muted Currently unavailable.