p.
	This handler is used to request songs for Auto DJ.
h3 Examples:
br
pre
	b User:
	|  !req https://www.youtube.com/watch?v=zBWVu7onS8Q
	br
	b #{Mikuia.settings.bot.name}:
	|   #1: [Electro] Eiffel 65 - Im Blue (DJ Royal Remix) (4:40) added to the list.