doctype html
html
	head
		title Mikuia
	body
		#app
		script(type='text/javascript', src='/app.js')
		script(type='text/javascript', src='https://cdn.smooch.io/smooch.min.js')
		script(type='text/javascript').
			Smooch.init({
				appToken: 'edehxcrsaa2trnrcqm7jra0l8',
				customText: {
					introductionText: 'Having problems? Feel free to ask for help!',
					introAppText: 'Message us below or using your favorite app! (English only)'
				}
			})